{"openapi":"3.0.0","info":{"version":"1.0.0","title":"Kamino Public API","description":"The Kamino API provides a comprehensive way to interact with Kamino without reading directly from the blockchain.\n\nThe API also provides the ability to fetch data that might not be available from just reading the chain.\n\nThe API is rate-limited for unauthenticated users. If you feel you need to make more requests or run into rate-limit issues, please reach out.\n"},"servers":[{"url":"https://api.kamino.finance"}],"components":{"schemas":{"AddressBase58":{"type":"string","description":"Valid base58-encoded address","example":"VEG1EMtttdHunMbSza8uoms1R18VXmYSph2bBpHcSJd"},"Decimal":{"type":"string","description":"Decimal value represented as string","example":"1234.56789"},"SnapshotDateTime":{"type":"string","format":"date-time","description":"Timestamp of the metrics snapshot","example":"2023-06-29T15:15:26.464Z"},"MarketMetricsResponse":{"type":"object","properties":{"market":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Market public key","example":"9pMFoVgsG2cNiUCSBEE69iWFN7c1bz9gu9TtPeXkAMTs"}]},"timestamp":{"$ref":"#/components/schemas/SnapshotDateTime"},"metrics":{"type":"object","properties":{"borrowTVL":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total borrowed value in USD","example":"1.000099969999999979181237244607594483571"}]},"depositTVL":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total deposited value in USD","example":"8.357187000999999979181237244607594483571"}]},"obligations":{"type":"integer","description":"Number of obligations","example":38}},"required":["borrowTVL","depositTVL","obligations"],"description":"Market metrics"}},"required":["market","timestamp","metrics"]},"Error":{"type":"object","properties":{"error":{"type":"string","description":"Error message for internal server failure","example":"An internal error occurred"}},"required":["error"],"description":"Internal server error response (500)","example":{"error":"An internal error occurred"}},"Apy":{"type":"string","description":"Borrow interest APY","example":"0.027610992938039702","examples":["0.123","0","1","1.23","-0.5","999999.999999"]},"BorrowAndStakingApyResponse":{"type":"object","properties":{"createdOn":{"allOf":[{"$ref":"#/components/schemas/SnapshotDateTime"},{"description":"Timestamp of the snapshot","example":"2023-10-17T15:00:06.009Z"}]},"borrowInterestApy":{"$ref":"#/components/schemas/Apy"},"stakingApy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Staking APY","example":"0.066527842899023711405366628964490454572"}]}},"required":["createdOn","borrowInterestApy","stakingApy"]},"ReserveMetricsResponse":{"type":"object","properties":{"reserve":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Reserve public key"}]},"liquidityToken":{"type":"string","description":"Liquidity token symbol","example":"SOL"},"liquidityTokenMint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Liquidity token mint address"}]},"maxLtv":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Maximum loan-to-value ratio","example":"0.65"}]},"borrowApy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Current borrow APY","example":"0.05450988511483601"}]},"supplyApy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Current supply APY","example":"0.038266801210808055"}]},"totalSupply":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total supply amount"}]},"totalBorrow":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total borrow amount"}]},"totalBorrowUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total borrow in USD"}]},"totalSupplyUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total supply in USD"}]}},"required":["reserve","liquidityToken","liquidityTokenMint","maxLtv","borrowApy","supplyApy","totalSupply","totalBorrow","totalBorrowUsd","totalSupplyUsd"]},"LeverageMetricsResponse":{"type":"object","properties":{"avgLeverage":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Average leverage"}]},"totalBorrowed":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total borrowed amount"}]},"totalDeposited":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total deposited amount"}]},"totalBorrowedUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total borrowed in USD"}]},"totalObligations":{"type":"string","description":"Total number of obligations"},"totalDepositedUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total deposited in USD"}]},"tvl":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total Value Locked"}]},"updatedOn":{"type":"string","format":"date-time","description":"Last update timestamp"},"depositReserve":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Deposit reserve public key"}]},"borrowReserve":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Borrow reserve public key"}]},"tag":{"type":"string","description":"Tag (Multiply or Leverage)","example":"Multiply"}},"required":["avgLeverage","totalBorrowed","totalDeposited","totalBorrowedUsd","totalObligations","totalDepositedUsd","tvl","updatedOn","depositReserve","borrowReserve","tag"]},"ReserveAccountDataResponse":{"type":"object","properties":{"market":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Market public key"}]},"reserves":{"type":"array","items":{"type":"object","properties":{"pubkey":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Reserve public key"}]},"data":{"type":"string","description":"Base64 encoded reserve account data"}},"required":["pubkey","data"]}}},"required":["market","reserves"]},"KlendTransactionResponseV2":{"type":"object","properties":{"createdOn":{"type":"string","nullable":true,"format":"date"},"timestamp":{"type":"number"},"transactionSignature":{"type":"string"},"transactionName":{"type":"string"},"liquidityToken":{"type":"string"},"liquidityTokenMint":{"$ref":"#/components/schemas/AddressBase58"},"liquidityTokenAmount":{"$ref":"#/components/schemas/Decimal"},"liquidityTokenPrice":{"$ref":"#/components/schemas/Decimal"},"solPrice":{"$ref":"#/components/schemas/Decimal"},"liquidityUsdValue":{"$ref":"#/components/schemas/Decimal"},"isLiquidationWithdrawal":{"type":"boolean"},"obligation":{"$ref":"#/components/schemas/AddressBase58"},"obligationType":{"type":"string"},"transactionDisplayName":{"type":"string"},"isSecondPartOfCompositeIx":{"type":"boolean"}},"required":["createdOn","timestamp","transactionSignature","transactionName","liquidityToken","liquidityTokenMint","liquidityTokenAmount","isLiquidationWithdrawal","obligation","obligationType","transactionDisplayName"]},"KlendTransactionsResponseV2":{"type":"object","properties":{"transactions":{"type":"array","items":{"$ref":"#/components/schemas/KlendTransactionResponseV2"}}},"required":["transactions"]},"KlendTransactionUserResponseV2":{"type":"object","properties":{"createdOn":{"type":"string","nullable":true,"format":"date"},"timestamp":{"type":"number"},"transactionSignature":{"type":"string"},"transactionName":{"type":"string"},"liquidityToken":{"type":"string"},"liquidityTokenMint":{"$ref":"#/components/schemas/AddressBase58"},"liquidityTokenAmount":{"$ref":"#/components/schemas/Decimal"},"liquidityTokenPrice":{"$ref":"#/components/schemas/Decimal"},"solPrice":{"$ref":"#/components/schemas/Decimal"},"liquidityUsdValue":{"$ref":"#/components/schemas/Decimal"},"isLiquidationWithdrawal":{"type":"boolean"},"obligationType":{"type":"string"},"transactionDisplayName":{"type":"string"},"isSecondPartOfCompositeIx":{"type":"boolean"}},"required":["createdOn","timestamp","transactionSignature","transactionName","liquidityToken","liquidityTokenMint","liquidityTokenAmount","isLiquidationWithdrawal","obligationType","transactionDisplayName"]},"KlendAllMarketsUserTransactionsItem":{"type":"object","properties":{"market":{"$ref":"#/components/schemas/AddressBase58"},"obligations":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/KlendTransactionUserResponseV2"}}}},"required":["market","obligations"]},"KlendAllMarketsUserTransactionsResponseV2":{"type":"array","items":{"$ref":"#/components/schemas/KlendAllMarketsUserTransactionsItem"}},"KlendUserTransactionsResponseV2":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/KlendTransactionUserResponseV2"}}},"KlendBulkTxResultItem":{"type":"object","properties":{"ixs":{"type":"array","items":{"nullable":true}},"timestamp":{"type":"string","nullable":true,"format":"date"},"signature":{"type":"string"},"obligation":{"type":"string"},"wallet":{"type":"string"},"rawJson":{"type":"string"}},"required":["ixs","timestamp","signature","obligation","wallet"]},"KlendBulkTxResponse":{"type":"object","properties":{"result":{"type":"array","items":{"$ref":"#/components/schemas/KlendBulkTxResultItem"}},"paginationToken":{"type":"string","description":"Token for next page. Absent when no more results."}},"required":["result"]},"KlendBulkTxBody":{"type":"object","properties":{"start":{"anyOf":[{"type":"string"},{"type":"number"}],"description":"Date input (ISO 8601 string or epoch in ms)","examples":["2024-01-01T00:00:00.000Z",1704067200000],"example":"2020-01-01T00:00Z"},"end":{"anyOf":[{"type":"string"},{"type":"number"}],"description":"Date input (ISO 8601 string or epoch in ms)","examples":["2024-01-01T00:00:00.000Z",1704067200000],"example":"2020-02-01T00:00Z"},"instruction":{"type":"string","description":"Instruction name to filter by","example":"depositReserveLiquidityAndObligationCollateralV2"},"paginationToken":{"type":"string","example":"eyJsYXN0SWQiOiIxMjM0In0=","description":"Pagination token for next page"}},"required":["instruction"]},"MarketConfigResponseV2":{"type":"object","properties":{"name":{"type":"string","description":"Market name","example":"SOL/BTC Market"},"isPrimary":{"type":"boolean","description":"Whether this is a primary market","example":true},"description":{"type":"string","description":"Market description","example":"Primary market on mainnet"},"lendingMarket":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Lending market public key","example":"7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF"}]},"lookupTable":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Lookup table address","example":"FGMSBiyVE8TvZcdQnZETAAKw28tkQJ2ccZy6pyp95URb"}]},"isCurated":{"type":"boolean","description":"Whether this market is curated","example":false}},"required":["name","isPrimary","description","lendingMarket","lookupTable","isCurated"]},"PnlResponse":{"type":"object","properties":{"usd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"PnL in USD","example":"25.21"}]},"sol":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"PnL in SOL","example":"1.0"}]},"invested":{"type":"object","properties":{"usd":{"$ref":"#/components/schemas/Decimal"},"sol":{"$ref":"#/components/schemas/Decimal"}},"required":["usd","sol"],"description":"Invested amounts"}},"required":["usd","sol"]},"TotalInterestFees":{"type":"object","properties":{"ts":{"type":"number","description":"Timestamp in milliseconds","example":1762128000000},"solFees":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total fees in SOL","example":"0.00001610553929183891699891935039215032176993"}]},"usdFees":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total fees in USD","example":"0.003058858072628656437082436052718601394968"}]}},"required":["ts","solFees","usdFees"]},"TotalFeesObligation":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/TotalInterestFees"},"description":"Total interest fees earned per obligation","example":{"uy9LQEjELMp8r3qpb7fJhu2Y32ydAxTEo74VAEZ6EHQs":{"ts":1762128000000,"solFees":"0.00001610553929183891699891935039215032176993","usdFees":"0.003058858072628656437082436052718601394968"}}},"InterestFees":{"type":"object","properties":{"ts":{"type":"number","description":"Timestamp in milliseconds","example":1762128000000},"solFees":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Fees in SOL","example":"0.00001610553929183891699891935039215032176993"}]},"usdFees":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Fees in USD","example":"0.003058858072628656437082436052718601394968"}]},"nativeFees":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Fees in native token units","example":"0"}]}},"required":["ts","solFees","usdFees","nativeFees"]},"TokenInterestFees":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/InterestFees"},"description":"Historical fees breakdown by reserve. Key is the reserve address.","example":{"d4A2prbA2whesmvHaL88BH6Ewn5N4bTSU2Ze8P6Bc4Q":{"ts":1760745600000,"solFees":"0","usdFees":"0","nativeFees":"0"}}},"HistoricalFeesObligation":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/TokenInterestFees"}},"description":"Historical breakdown of interest fees earned over time"},"InterestRateEarnedResponse":{"type":"object","properties":{"totalFeesEarnedObligation":{"$ref":"#/components/schemas/TotalFeesObligation"},"historicalFeesObligation":{"$ref":"#/components/schemas/HistoricalFeesObligation"}},"required":["totalFeesEarnedObligation","historicalFeesObligation"]},"InterestRatePaidResponse":{"type":"object","properties":{"totalFeesPaidObligation":{"allOf":[{"$ref":"#/components/schemas/TotalFeesObligation"},{"description":"Total interest fees paid per obligation"}]},"historicalFeesObligation":{"allOf":[{"$ref":"#/components/schemas/HistoricalFeesObligation"},{"description":"Historical breakdown of interest fees paid over time"}]}},"required":["totalFeesPaidObligation","historicalFeesObligation"]},"ObligationStats":{"type":"object","properties":{"leverage":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Leverage ratio of the obligation","example":"1.0580080950430842892"}]},"borrowLimit":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Maximum borrow limit","example":"1.3496969599567630906"}]},"loanToValue":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Current loan-to-value ratio","example":"0.054827647647367082766"}]},"liquidationLtv":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Liquidation loan-to-value threshold","example":"0.75000000000000000001"}]},"netAccountValue":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Net account value","example":"1.7239138521696367095"}]},"userTotalBorrow":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total amount borrowed by the user","example":"0.10000095858274584538"}]},"userTotalDeposit":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total amount deposited by the user","example":"1.8239148107523825549"}]},"borrowUtilization":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Borrow utilization ratio","example":"0.074091415739685246983"}]},"borrowLiquidationLimit":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Borrow liquidation limit","example":"1.3679361080642869162"}]},"userTotalCollateralDeposit":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total collateral deposited by the user","example":"1.8239148107523825549"}]},"userTotalLiquidatableDeposit":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total liquidatable deposit amount","example":"1.8239148107523825549"}]},"potentialElevationGroupUpdate":{"type":"number","description":"Potential elevation group update indicator","example":0},"userTotalBorrowBorrowFactorAdjusted":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total borrow adjusted by borrow factor","example":"0.10000095858274584538"}]}},"required":["leverage","borrowLimit","loanToValue","liquidationLtv","netAccountValue","userTotalBorrow","userTotalDeposit","borrowUtilization","borrowLiquidationLimit","userTotalCollateralDeposit","userTotalLiquidatableDeposit","potentialElevationGroupUpdate","userTotalBorrowBorrowFactorAdjusted"],"description":"Refreshed obligation statistics"},"Position":{"type":"object","properties":{"amount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Amount in the position","example":"10000708.005624756258"}]},"mintAddress":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Token mint address","example":"So11111111111111111111111111111111111111112"}]},"marketValueRefreshed":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Refreshed market value of the position","example":"1.8239148107523825549"}]}},"required":["amount","mintAddress","marketValueRefreshed"]},"ObligationSolValues":{"type":"object","properties":{"netValueSol":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Net value in SOL","example":"0.009469142566566941841900274495955292427975"}]},"collateralValueSol":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Collateral value in SOL","example":"0.01001842948854487210536205388880118310325"}]},"debtValueSol":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Debt value in SOL","example":"0.0005492869219779302633519230615141419874818"}]},"solPrice":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"SOL price in USD","example":"182.05596125"}]},"timestampSolPrice":{"allOf":[{"$ref":"#/components/schemas/SnapshotDateTime"},{"description":"Timestamp of the SOL price","example":"2025-10-17T00:00:00.000Z"}]},"timestampObligation":{"allOf":[{"$ref":"#/components/schemas/SnapshotDateTime"},{"description":"Timestamp of the obligation snapshot","example":"2025-10-17T00:00:00.000Z"}]}},"required":["netValueSol","collateralValueSol","debtValueSol","solPrice","timestampSolPrice","timestampObligation"],"description":"Obligation values denominated in SOL"},"ObligationMetrics":{"type":"object","properties":{"timestamp":{"allOf":[{"$ref":"#/components/schemas/SnapshotDateTime"},{"example":"2025-10-17T00:00:00.000Z"}]},"refreshedStats":{"$ref":"#/components/schemas/ObligationStats"},"deposits":{"type":"array","items":{"$ref":"#/components/schemas/Position"},"description":"Array of deposit positions"},"borrows":{"type":"array","items":{"$ref":"#/components/schemas/Position"},"description":"Array of borrow positions"},"tag":{"type":"integer","minimum":0,"maximum":3,"description":"Obligation type tag (0 = Vanilla, 1 = Multiply, 2 = Lending, 3 = Leverage)","example":0},"obligationSolValues":{"$ref":"#/components/schemas/ObligationSolValues"}},"required":["timestamp","refreshedStats","deposits","borrows","tag","obligationSolValues"]},"ObligationMetricsHistoryResponse":{"type":"object","properties":{"obligation":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Obligation public key","example":"3HdrCvoJ91bwgVTejdDXfguo6S2A9jjUkBR5fasq4WhB"}]},"history":{"type":"array","items":{"$ref":"#/components/schemas/ObligationMetrics"},"description":"Historical metrics for the obligation"}},"required":["obligation","history"]},"KlendTransactionUserResponseV3":{"type":"object","properties":{"createdOn":{"type":"string","nullable":true,"format":"date"},"timestamp":{"type":"number"},"transactionSignature":{"type":"string"},"transactionName":{"type":"string"},"liquidityToken":{"type":"string"},"liquidityTokenMint":{"$ref":"#/components/schemas/AddressBase58"},"liquidityTokenAmount":{"$ref":"#/components/schemas/Decimal"},"liquidityTokenPrice":{"$ref":"#/components/schemas/Decimal"},"solPrice":{"$ref":"#/components/schemas/Decimal"},"liquidityUsdValue":{"$ref":"#/components/schemas/Decimal"},"isLiquidationWithdrawal":{"type":"boolean"},"obligationType":{"type":"string"},"transactionDisplayName":{"type":"string"},"isSecondPartOfCompositeIx":{"type":"boolean"}},"required":["createdOn","timestamp","transactionSignature","transactionName","liquidityToken","liquidityTokenMint","liquidityTokenAmount","isLiquidationWithdrawal","obligationType","transactionDisplayName"]},"KlendUserObligationsMapV3":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/KlendTransactionUserResponseV3"}}},"KlendWithdrawQueueTransactionV3":{"type":"object","properties":{"createdOn":{"type":"string","nullable":true,"format":"date"},"timestamp":{"type":"number"},"transactionSignature":{"type":"string"},"transactionName":{"type":"string"},"transactionDisplayName":{"type":"string"},"reserve":{"$ref":"#/components/schemas/AddressBase58"},"withdrawTicket":{"$ref":"#/components/schemas/AddressBase58"},"solPrice":{"$ref":"#/components/schemas/Decimal"},"liquidityToken":{"type":"string"},"liquidityTokenMint":{"$ref":"#/components/schemas/AddressBase58"},"liquidityTokenAmount":{"$ref":"#/components/schemas/Decimal"},"liquidityTokenPrice":{"$ref":"#/components/schemas/Decimal"},"liquidityUsdValue":{"$ref":"#/components/schemas/Decimal"}},"required":["createdOn","timestamp","transactionSignature","transactionName","transactionDisplayName","reserve","withdrawTicket","solPrice","liquidityToken","liquidityTokenMint","liquidityTokenAmount","liquidityTokenPrice","liquidityUsdValue"]},"KlendAllMarketsUserTransactionsItemV3":{"type":"object","properties":{"market":{"$ref":"#/components/schemas/AddressBase58"},"obligations":{"$ref":"#/components/schemas/KlendUserObligationsMapV3"},"withdrawQueueTransactions":{"type":"array","items":{"$ref":"#/components/schemas/KlendWithdrawQueueTransactionV3"}}},"required":["market","obligations","withdrawQueueTransactions"]},"KlendAllMarketsUserTransactionsResponseV3":{"type":"array","items":{"$ref":"#/components/schemas/KlendAllMarketsUserTransactionsItemV3"}},"KlendUserTransactionsResponseV3":{"type":"object","properties":{"obligations":{"$ref":"#/components/schemas/KlendUserObligationsMapV3"},"withdrawQueueTransactions":{"type":"array","items":{"$ref":"#/components/schemas/KlendWithdrawQueueTransactionV3"}}},"required":["obligations","withdrawQueueTransactions"]},"KlendBulkTxObligationResultItemV3":{"type":"object","properties":{"ixs":{"type":"array","items":{"nullable":true}},"timestamp":{"type":"string","nullable":true,"format":"date"},"signature":{"type":"string"},"obligation":{"type":"string"},"wallet":{"type":"string"},"rawJson":{"type":"string"}},"required":["ixs","timestamp","signature","obligation","wallet"]},"KlendBulkTxWithdrawQueueResultItemV3":{"type":"object","properties":{"ixs":{"type":"array","items":{"nullable":true}},"timestamp":{"type":"string","nullable":true,"format":"date"},"signature":{"type":"string"},"wallet":{"type":"string"},"reserve":{"$ref":"#/components/schemas/AddressBase58"},"withdrawTicket":{"$ref":"#/components/schemas/AddressBase58"},"rawJson":{"type":"string"}},"required":["ixs","timestamp","signature","wallet","reserve","withdrawTicket"]},"KlendBulkTxResponseV3":{"type":"object","properties":{"obligationTransactions":{"type":"array","items":{"$ref":"#/components/schemas/KlendBulkTxObligationResultItemV3"}},"withdrawQueueTransactions":{"type":"array","items":{"$ref":"#/components/schemas/KlendBulkTxWithdrawQueueResultItemV3"}},"paginationToken":{"type":"string","description":"Token for next page. Absent when no more results."}},"required":["obligationTransactions","withdrawQueueTransactions"]},"KlendBulkTxBodyV3":{"type":"object","properties":{"start":{"anyOf":[{"type":"string"},{"type":"number"}],"description":"Date input (ISO 8601 string or epoch in ms)","examples":["2024-01-01T00:00:00.000Z",1704067200000],"example":"2020-01-01T00:00Z"},"end":{"anyOf":[{"type":"string"},{"type":"number"}],"description":"Date input (ISO 8601 string or epoch in ms)","examples":["2024-01-01T00:00:00.000Z",1704067200000],"example":"2020-02-01T00:00Z"},"instruction":{"type":"string","description":"Instruction name to filter by","example":"depositReserveLiquidityAndObligationCollateralV2"},"paginationToken":{"type":"string","example":"eyJsYXN0SWQiOiIxMjM0In0=","description":"Pagination token for next page"}},"required":["instruction"]},"BorrowOrderFill":{"type":"object","properties":{"eventType":{"type":"string","enum":["partial_fill","full_fill"],"description":"Type of fill event","example":"partial_fill"},"eventTimestamp":{"type":"string","nullable":true,"format":"date","description":"Timestamp of the on-chain transaction"},"transactionSignature":{"type":"string","description":"Transaction signature","example":"2XWcSQVtR4NoHBhzYpDkYkmYtEFkFXC5ZwrKiPok1kvA86GvnN15qP7RNP6eTeNWgJqgnR1GA2M3QPp1hucW7e1v"},"debtLiquidityMint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Debt liquidity token mint"}]},"filledAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Amount filled in this event (difference of remaining debt before and after)"}]}},"required":["eventType","eventTimestamp","transactionSignature","debtLiquidityMint","filledAmount"]},"BorrowOrderFillsResponse":{"type":"object","properties":{"fills":{"type":"array","items":{"$ref":"#/components/schemas/BorrowOrderFill"}}},"required":["fills"]},"ObligationDeposit":{"type":"object","properties":{"depositReserve":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Reserve address the collateral is deposited to"}]},"depositedAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Amount of collateral deposited"}]}},"required":["depositReserve","depositedAmount"]},"OpenBorrowOrder":{"type":"object","properties":{"obligationPubkey":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Obligation public key"}]},"owner":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Obligation owner wallet"}]},"deposits":{"type":"array","items":{"$ref":"#/components/schemas/ObligationDeposit"},"description":"Active collateral deposits backing this obligation"},"debtLiquidityMint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Debt liquidity token mint"}]},"remainingDebtAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Remaining debt amount to be filled, in lamports"}]},"requestedDebtAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Originally requested debt amount, in lamports"}]},"filledDebtDestination":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Token account where filled funds are sent"}]},"maxBorrowRateBps":{"type":"number","description":"Maximum borrow rate the owner agrees to, in bps"},"minDebtTermSeconds":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Minimum debt term the owner agrees to, in seconds"}]},"fillableUntilTimestamp":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Unix timestamp until which the order can be filled"}]},"placedAtTimestamp":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Unix timestamp when the order was placed"}]},"lastUpdatedAtTimestamp":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Unix timestamp when the order was last updated"}]}},"required":["obligationPubkey","owner","deposits","debtLiquidityMint","remainingDebtAmount","requestedDebtAmount","filledDebtDestination","maxBorrowRateBps","minDebtTermSeconds","fillableUntilTimestamp","placedAtTimestamp","lastUpdatedAtTimestamp"]},"ObligationsWithOpenBorrowOrdersResponse":{"type":"object","properties":{"obligations":{"type":"array","items":{"$ref":"#/components/schemas/OpenBorrowOrder"}}},"required":["obligations"]},"Apr":{"type":"string","description":"APR in decimal format (not percentage) represented as string. Multiply by 100 to get percentage (%) - 0.1 in API response is 10%.","example":"0.2","examples":["0.123","0","1","1.23","-0.5","999999.999999"]},"YieldHistoryItem":{"type":"object","properties":{"createdOn":{"allOf":[{"$ref":"#/components/schemas/SnapshotDateTime"},{"description":"Timestamp when the snapshot was created (ISO 8601 format)","example":"2025-03-01T12:00:00.000Z"}]},"apr":{"$ref":"#/components/schemas/Apr"},"apy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"APY in decimal format (not percentage) represented as string. Multiply by 100 to get percentage (%) - 0.1 in API response is 10%.","example":"0.2"}]}},"required":["createdOn","apr","apy"]},"YieldHistoryResponse":{"type":"array","items":{"$ref":"#/components/schemas/YieldHistoryItem"}},"PtYieldItem":{"type":"object","properties":{"apy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"APY in decimal format (not percentage) represented as string. Multiply by 100 to get percentage (%) - 0.1 in API response is 10%.","example":"0.2"}]},"tokenMint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Valid base58-encoded address of the token mint","example":"So11111111111111111111111111111111111111112","examples":["So11111111111111111111111111111111111111112","EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263"]}]}},"required":["apy","tokenMint"]},"PtYieldsResponse":{"type":"array","items":{"$ref":"#/components/schemas/PtYieldItem"}},"AirdropAllocation":{"type":"object","properties":{"quantity":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Quantity of tokens allocated to the user for the airdrop"}]},"name":{"type":"string","description":"Name of the airdrop allocation source","example":"main"}},"required":["quantity","name"]},"Integer":{"type":"string","description":"Total number of unique users participating in the airdrop","example":"1","examples":["0","1","100","-1"]},"AirdropMetrics":{"type":"object","properties":{"totalAllocation":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total allocated amount across all users for this airdrop"}]},"totalUsers":{"$ref":"#/components/schemas/Integer"},"claimDate":{"allOf":[{"$ref":"#/components/schemas/SnapshotDateTime"},{"description":"Date when the airdrop claim becomes available or was executed","example":"2025-03-01T12:00:00.000Z"}]}},"required":["totalAllocation","totalUsers","claimDate"]},"StakingYield":{"type":"object","properties":{"apy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Staking APY in decimal format for the token","example":"0.2"}]},"tokenMint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Valid base58-encoded address of the liquid staking token mint","example":"J1toso1uCk3RLmjorhTtrVwY9HJ7X8V9yYac6Y7kGCPn","examples":["J1toso1uCk3RLmjorhTtrVwY9HJ7X8V9yYac6Y7kGCPn","mSoLzYCxHdYgdzU16g5QSh3i5K3z3KZK7ytfqcJm7So","pSo1f9nQXWgXibFtKf7NWYxb5enAM4qfP6UJSiXRQfL"]}]}},"required":["apy","tokenMint"]},"Epoch":{"type":"object","properties":{"epoch":{"type":"number","description":"Epoch identifier","example":678},"firstSlot":{"type":"number","description":"First slot number of the epoch","example":"123456789"},"lastSlot":{"type":"number","description":"Last slot number of the epoch","example":"123999999"},"startBlockTime":{"allOf":[{"$ref":"#/components/schemas/SnapshotDateTime"},{"description":"UTC timestamp when the epoch started","example":"2025-03-01T12:00:00.000Z"}]},"endBlockTime":{"allOf":[{"$ref":"#/components/schemas/SnapshotDateTime"},{"description":"UTC timestamp when the epoch ended","example":"2025-03-01T12:00:00.000Z"}]}},"required":["epoch","firstSlot","lastSlot","startBlockTime","endBlockTime"]},"KVaultInstruction":{"type":"object","properties":{"createdOn":{"type":"string","format":"date","description":"Date when the instruction was created"},"instruction":{"type":"string","description":"Type of instruction"},"tokenMint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Token mint address"}]},"tokenAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Amount of tokens involved"}]},"tokenPrice":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Price of the token at the time of instruction"}]},"solPrice":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Price of SOL at the time of instruction"}]},"sharePrice":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Price per share at the time of instruction"}]},"numberOfShares":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Number of shares involved"}]},"usdValue":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"USD value of the transaction"}]},"transaction":{"type":"string","description":"Transaction signature"},"kvault":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"KVault identifier"}]},"latestPosition":{"type":"boolean","description":"Indicates if this is the latest position"}},"required":["createdOn","instruction","tokenMint","tokenAmount","tokenPrice","solPrice","sharePrice","numberOfShares","usdValue","transaction","kvault","latestPosition"]},"KvaultEnrichedInstruction":{"type":"object","properties":{"market":{"type":"string","description":"KLend market public key","example":"EyV4jxSMd6vpuRgrxMFem7CKRhcB4Vv6WMRDtxPQNP4"},"reserve":{"type":"string","description":"KLend reserve public key","example":"ALnjBHECcdBsSwgVJ6A8pFEZ15qxE5jJQriCXSKT3Bte"},"solPrice":{"$ref":"#/components/schemas/Decimal"},"sharePrice":{"$ref":"#/components/schemas/Decimal"},"tokenPrice":{"$ref":"#/components/schemas/Decimal"},"tokenAmount":{"$ref":"#/components/schemas/Decimal"},"numberOfShares":{"$ref":"#/components/schemas/Decimal"}},"required":["solPrice","sharePrice","tokenPrice","tokenAmount","numberOfShares"],"description":"Enriched kvault instruction object","example":{"tokenAmount":"835.924775","numberOfShares":"814.34612","solPrice":"138.7776002","sharePrice":"1.0263403430350673002","tokenPrice":"0.99984713"}},"KvaultBulkTransaction":{"type":"object","properties":{"ix":{"$ref":"#/components/schemas/KvaultEnrichedInstruction"},"timestamp":{"allOf":[{"$ref":"#/components/schemas/SnapshotDateTime"},{"description":"Timestamp when the transaction was executed (ISO 8601 format)","example":"2025-03-01T12:00:00.000Z"}]},"signature":{"type":"string","description":"Transaction signature","example":"2XWcSQVtR4NoHBhzYpDkYkmYtEFkFXC5ZwrKiPok1kvA86GvnN15qP7RNP6eTeNWgJqgnR1GA2M3QPp1hucW7e1v"},"kvault":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Valid base58-encoded address of the vault","example":"HDsayqAsDWy3QvANGqh2yNraqcD8Fnjgh73Mhb3WRS5E"}]},"wallet":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Valid base58-encoded address of the user wallet","example":"AxqtG9SHDkZTLSWg81Sp7VqAzQpRqXtR9ziJ3VQAS8As"}]},"rawJson":{"type":"string","description":"Entire raw JSON of the instruction"}},"required":["ix","timestamp","signature","kvault","wallet"]},"KvaultVaultEnrichedInstruction":{"type":"object","properties":{"market":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"KLend market public key"}]},"reserve":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"KLend reserve public key"}]},"solPrice":{"$ref":"#/components/schemas/Decimal"},"sharePrice":{"$ref":"#/components/schemas/Decimal"},"tokenPrice":{"$ref":"#/components/schemas/Decimal"},"tokenAmount":{"$ref":"#/components/schemas/Decimal"},"numberOfShares":{"$ref":"#/components/schemas/Decimal"}},"required":["solPrice","sharePrice","tokenPrice","tokenAmount","numberOfShares"]},"KvaultVaultTransaction":{"type":"object","properties":{"ix":{"$ref":"#/components/schemas/KvaultVaultEnrichedInstruction"},"timestamp":{"allOf":[{"$ref":"#/components/schemas/SnapshotDateTime"},{"description":"Timestamp when the transaction was executed (ISO 8601 format)","example":"2025-03-01T12:00:00.000Z"}]},"signature":{"type":"string","description":"Transaction signature","example":"2XWcSQVtR4NoHBhzYpDkYkmYtEFkFXC5ZwrKiPok1kvA86GvnN15qP7RNP6eTeNWgJqgnR1GA2M3QPp1hucW7e1v"},"kvault":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Valid base58-encoded address of the vault","example":"HDsayqAsDWy3QvANGqh2yNraqcD8Fnjgh73Mhb3WRS5E"}]},"wallet":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Valid base58-encoded address of the user wallet","example":"AxqtG9SHDkZTLSWg81Sp7VqAzQpRqXtR9ziJ3VQAS8As"}]}},"required":["ix","timestamp","signature","kvault","wallet"]},"KvaultVaultTransactionsResponse":{"type":"object","properties":{"result":{"type":"array","items":{"$ref":"#/components/schemas/KvaultVaultTransaction"}},"paginationToken":{"type":"string","example":"eyJsYXN0SWQiOjgxfQ==","description":"Optional pagination token"}},"required":["result"]},"EnqueuedWithdrawTransactionsResponse":{"type":"array","items":{"$ref":"#/components/schemas/KlendWithdrawQueueTransactionV3"}},"The vault state object":{"type":"object","properties":{"vaultAdminAuthority":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the vault admin authority"}]},"baseVaultAuthority":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the base vault authority"}]},"baseVaultAuthorityBump":{"type":"number","description":"Bump seed for the base vault authority"},"tokenMint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the token mint"}]},"tokenMintDecimals":{"type":"number","description":"Decimals of the token mint"},"tokenVault":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the token vault"}]},"tokenProgram":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the token program"}]},"sharesMint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the shares mint"}]},"sharesMintDecimals":{"type":"number","description":"Decimals of the shares mint"},"tokenAvailable":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Amount of tokens available in the vault"}]},"sharesIssued":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total shares issued by the vault"}]},"availableCrankFunds":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Available crank funds in the vault"}]},"performanceFeeBps":{"type":"number","description":"Performance fee in basis points"},"managementFeeBps":{"type":"number","description":"Management fee in basis points"},"lastFeeChargeTimestamp":{"type":"number","description":"Timestamp of the last fee charge"},"prevAum":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Previous assets under management scaled factor"}]},"pendingFees":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Pending fees scaled factor"}]},"vaultAllocationStrategy":{"type":"array","items":{"type":"object","properties":{"reserve":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the reserve"}]},"ctokenVault":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the cToken vault"}]},"targetAllocationWeight":{"type":"number","description":"Target allocation weight as a whole number"},"tokenAllocationCap":{"type":"string","description":"Token allocation cap in lamports"},"ctokenVaultBump":{"type":"number","description":"cToken vault bump seed"},"ctokenAllocation":{"type":"string","description":"cToken allocation in lamports"},"lastInvestSlot":{"type":"string","description":"Last invest slot"},"tokenTargetAllocation":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Token target allocation scaled factor"}]}},"required":["reserve","ctokenVault","targetAllocationWeight","tokenAllocationCap","ctokenVaultBump","ctokenAllocation","lastInvestSlot","tokenTargetAllocation"],"description":"Vault allocation strategy entry"},"description":"List of vault allocation strategies"},"minDepositAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Minimum deposit amount in lamports"}]},"minWithdrawAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Minimum withdraw amount in lamports"}]},"minInvestAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Minimum invest amount in lamports"}]},"minInvestDelaySlots":{"type":"number","description":"Minimum invest delay in slots"},"crankFundFeePerReserve":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Crank fund fee per reserve"}]},"pendingAdmin":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the pending admin"}]},"cumulativeEarnedInterest":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Cumulative earned interest in decimal format"}]},"cumulativeMgmtFees":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Cumulative management fees in decimal format"}]},"cumulativePerfFees":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Cumulative performance fees in decimal format"}]},"name":{"type":"string","description":"Name of the vault"},"vaultLookupTable":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the vault lookup table"}]},"vaultFarm":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the vault farm"}]},"creationTimestamp":{"type":"number","description":"Timestamp of vault creation"},"allocationAdmin":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the allocation admin"}]}},"required":["vaultAdminAuthority","baseVaultAuthority","baseVaultAuthorityBump","tokenMint","tokenMintDecimals","tokenVault","tokenProgram","sharesMint","sharesMintDecimals","tokenAvailable","sharesIssued","availableCrankFunds","performanceFeeBps","managementFeeBps","lastFeeChargeTimestamp","prevAum","pendingFees","vaultAllocationStrategy","minDepositAmount","minWithdrawAmount","minInvestAmount","minInvestDelaySlots","crankFundFeePerReserve","pendingAdmin","cumulativeEarnedInterest","cumulativeMgmtFees","cumulativePerfFees","name","vaultLookupTable","vaultFarm","creationTimestamp","allocationAdmin"]},"VaultStateArray":{"type":"array","items":{"type":"object","properties":{"address":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the vault"}]},"state":{"$ref":"#/components/schemas/The vault state object"},"programId":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the kvault program which owns the vault"}]}},"required":["address","state","programId"]}},"KvaultMetrics":{"type":"object","properties":{"apy7d":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"7-day Annual Percentage Yield of the kvault","example":"0.2"}]},"apy24h":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"24-hour Annual Percentage Yield of the kvault","example":"0.2"}]},"apy30d":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"30-day Annual Percentage Yield of the kvault","example":"0.2"}]},"apy90d":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"90-day Annual Percentage Yield of the kvault","example":"0.2"}]},"apy180d":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"180-day Annual Percentage Yield of the kvault","example":"0.2"}]},"apy365d":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"365-day Annual Percentage Yield of the kvault","example":"0.2"}]},"tokenPrice":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Price of the kvault token"}]},"solPrice":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Price of SOL"}]},"tokensAvailable":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Number of tokens available in the kvault"}]},"tokensAvailableUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"USD value of tokens available in the kvault"}]},"tokensInvested":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Number of tokens invested in the kvault"}]},"tokensInvestedUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"USD value of tokens invested in the kvault"}]},"sharePrice":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Price per share of the kvault"}]},"tokensPerShare":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Number of tokens per share in the kvault"}]},"apy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Annual Percentage Yield of the kvault","example":"0.2"}]},"apyTheoretical":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Theoretical Annual Percentage Yield of the kvault","example":"0.2"}]},"apyActual":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Actual Annual Percentage Yield of the kvault","example":"0.2"}]},"apyFarmRewards":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Annual Percentage Yield from farm rewards in the kvault","example":"0.2"}]},"apyIncentives":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Annual Percentage Yield from incentives in the kvault","example":"0.2"}]},"apyReservesIncentives":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Annual Percentage Yield from reserves incentives in the kvault","example":"0.2"}]},"numberOfHolders":{"type":"number","description":"Number of holders of the kvault"},"sharesIssued":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total shares issued by the kvault"}]},"cumulativeInterestEarned":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Cumulative interest earned in the kvault token amount"}]},"cumulativeInterestEarnedUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Cumulative interest earned in USD for the kvault"}]},"cumulativeInterestEarnedSol":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Cumulative interest earned in SOL for the kvault"}]},"interestEarnedPerSecond":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Interest earned per second in the kvault token amount"}]},"interestEarnedPerSecondUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Interest earned per second in USD for the kvault"}]},"interestEarnedPerSecondSol":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Interest earned per second in SOL for the kvault"}]},"cumulativePerformanceFees":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Cumulative performance fees in the kvault token amount"}]},"cumulativePerformanceFeesUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Cumulative performance fees in USD for the kvault"}]},"cumulativePerformanceFeesSol":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Cumulative performance fees in SOL for the kvault"}]},"cumulativeManagementFees":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Cumulative management fees in the kvault token amount"}]},"cumulativeManagementFeesUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Cumulative management fees in USD for the kvault"}]},"cumulativeManagementFeesSol":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Cumulative management fees in SOL for the kvault"}]}},"required":["apy7d","apy24h","apy30d","apy90d","apy180d","apy365d","tokenPrice","solPrice","tokensAvailable","tokensAvailableUsd","tokensInvested","tokensInvestedUsd","sharePrice","tokensPerShare","apy","apyTheoretical","apyActual","apyFarmRewards","apyIncentives","apyReservesIncentives","numberOfHolders","sharesIssued","cumulativeInterestEarned","cumulativeInterestEarnedUsd","cumulativeInterestEarnedSol","interestEarnedPerSecond","interestEarnedPerSecondUsd","interestEarnedPerSecondSol","cumulativePerformanceFees","cumulativePerformanceFeesUsd","cumulativePerformanceFeesSol","cumulativeManagementFees","cumulativeManagementFeesUsd","cumulativeManagementFeesSol"]},"UserKVaultTotal":{"type":"object","properties":{"createdOn":{"allOf":[{"$ref":"#/components/schemas/SnapshotDateTime"},{"description":"Timestamp when the snapshot was created (ISO 8601 format)","example":"2025-03-01T12:00:00.000Z"}]},"usdAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"User's total amount across all vaults in USD"}]},"solAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"User's total amount across all vaults in SOL"}]},"weightedApy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Weighted average APY across all vaults in decimal format","example":"0.2"}]},"cumulativeInterestEarnedUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total interest earned in USD across all vaults"}]},"cumulativeInterestEarnedSol":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total interest earned in SOL across all vaults"}]},"interestEarnedPerSecondUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Interest earned per second at that specific moment in USD"}]},"interestEarnedPerSecondSol":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Interest earned per second at that specific moment in SOL"}]}},"required":["createdOn","usdAmount","solAmount","weightedApy","cumulativeInterestEarnedUsd","cumulativeInterestEarnedSol","interestEarnedPerSecondUsd","interestEarnedPerSecondSol"]},"UserKvaultMetrics":{"type":"object","properties":{"createdOn":{"allOf":[{"$ref":"#/components/schemas/SnapshotDateTime"},{"description":"Timestamp when the snapshot was created (ISO 8601 format)","example":"2025-03-01T12:00:00.000Z"}]},"sharesAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"User's total shares amount"}]},"usdAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"User's USD amount in kvault"}]},"solAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"User's SOL amount in kvault"}]},"apy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"APY in decimal format (not percentage) represented as string. Multiply by 100 to get percentage (%) - 0.1 in API response is 10%.","example":"0.2"}]},"cumulativeInterestEarned":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total interest earned in kvault token amount for kvault"}]},"cumulativeInterestEarnedUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total interest earned in USD for kvault"}]},"cumulativeInterestEarnedSol":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total interest earned in SOL for kvault"}]},"interestEarnedPerSecond":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Interest earned per second at that specific moment in token"}]},"interestEarnedPerSecondUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Interest earned per second at that specific moment in USD"}]},"interestEarnedPerSecondSol":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Interest earned per second at that specific moment in SOL"}]}},"required":["createdOn","sharesAmount","usdAmount","solAmount","apy","cumulativeInterestEarned","cumulativeInterestEarnedUsd","cumulativeInterestEarnedSol","interestEarnedPerSecond","interestEarnedPerSecondUsd","interestEarnedPerSecondSol"]},"KvaultMultiValue":{"type":"object","properties":{"usd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Value in USD"}]},"sol":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Value in SOL"}]},"token":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Value in token denomination"}]}},"required":["usd","sol","token"]},"KvaultPnl":{"type":"object","properties":{"totalPnl":{"$ref":"#/components/schemas/KvaultMultiValue"},"totalCostBasis":{"$ref":"#/components/schemas/KvaultMultiValue"}},"required":["totalPnl","totalCostBasis"]},"KvaultPnlTimeseriesValue":{"type":"object","properties":{"timestamp":{"type":"number","description":"Unix timestamp in milliseconds"},"type":{"anyOf":[{"type":"string","enum":["buy"]},{"type":"string","enum":["sell"]},{"type":"string","enum":["mark-to-market"]}]},"position":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Current position value"}]},"quantity":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Quantity involved in transaction"}]},"tokenPrice":{"allOf":[{"$ref":"#/components/schemas/KvaultMultiValue"},{"description":"Token price snapshot"}]},"sharePrice":{"allOf":[{"$ref":"#/components/schemas/KvaultMultiValue"},{"description":"Share price snapshot"}]},"costBasis":{"allOf":[{"$ref":"#/components/schemas/KvaultMultiValue"},{"description":"Cost basis for position"}]},"realizedPnl":{"allOf":[{"$ref":"#/components/schemas/KvaultMultiValue"},{"description":"Realized profit/loss"}]},"pnl":{"allOf":[{"$ref":"#/components/schemas/KvaultMultiValue"},{"description":"Total profit/loss"}]},"positionValue":{"allOf":[{"$ref":"#/components/schemas/KvaultMultiValue"},{"description":"Value of the position"}]},"investment":{"allOf":[{"$ref":"#/components/schemas/KvaultMultiValue"},{"description":"Total invested value"}]}},"required":["timestamp","type","position","quantity","tokenPrice","sharePrice","costBasis","realizedPnl","pnl","positionValue","investment"]},"SlotDuration":{"type":"object","properties":{"recentSlotDurationInMs":{"type":"number","description":"Slot duration in milliseconds calculated from the median duration of the last 3 epoch slot durations","example":400}},"required":["recentSlotDurationInMs"]},"FoundLuts":{"type":"object","properties":{"lutAddresses":{"type":"array","items":{"$ref":"#/components/schemas/AddressBase58"},"description":"List of Lookup Table addresses that together cover the requested addresses"}},"required":["lutAddresses"]},"FindLutsForAddresses":{"type":"object","properties":{"addresses":{"type":"array","items":{"$ref":"#/components/schemas/AddressBase58"},"minItems":1,"maxItems":100,"description":"Addresses to find in LUTs (max 100)"},"verify":{"type":"boolean","default":true,"description":"Whether to verify that LUTs are active on-chain (defaults to true)","example":false},"userAccounts":{"type":"array","items":{"$ref":"#/components/schemas/AddressBase58"},"maxItems":100,"default":[],"description":"User-specific accounts (e.g. ATAs, token accounts). These are still searched in LUTs but are excluded from missing account tracking."}},"required":["addresses"]},"ManagedLutResponse":{"type":"object","properties":{"productIdentifierAddress":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"The product identifier address","example":"6KhEbVjFg8bNkpTSyEfGJhMGtv2bRQiAKKbKZLPvrBFm"}]},"lutAddresses":{"type":"array","items":{"$ref":"#/components/schemas/AddressBase58"},"description":"Active lookup table addresses","example":["3Kz4sMiBCxg7JdCCjwRTHtFsQRqJCSKh5pVERhPfMzYF"]}},"required":["productIdentifierAddress","lutAddresses"]},"ManagedLutBatchResponse":{"type":"array","items":{"$ref":"#/components/schemas/ManagedLutResponse"}},"LutProductType":{"type":"string","enum":["swap_pair","vault","strategy","market","meta_vault"],"description":"The type of product associated with a managed lookup table","example":"vault"},"ManagedLutByTypeResponse":{"type":"array","items":{"type":"object","properties":{"productIdentifierAddress":{"$ref":"#/components/schemas/AddressBase58"},"productType":{"$ref":"#/components/schemas/LutProductType"},"lutAddresses":{"type":"array","items":{"$ref":"#/components/schemas/AddressBase58"}}},"required":["productIdentifierAddress","productType","lutAddresses"]}},"NewVaultResponse":{"type":"object","properties":{"productId":{"type":"number","description":"The created/existing product ID","example":1},"vaultAddress":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Vault account address","example":"6KhEbVjFg8bNkpTSyEfGJhMGtv2bRQiAKKbKZLPvrBFm"}]},"lutAddress":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Lookup table address","example":"3Kz4sMiBCxg7JdCCjwRTHtFsQRqJCSKh5pVERhPfMzYF"}]},"lutEntryId":{"type":"number","description":"The created/existing LUT entry ID","example":1}},"required":["productId","vaultAddress","lutAddress","lutEntryId"]},"KvaultUserRewardMetric":{"type":"object","properties":{"avgBaseApy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Average Base Annual Percentage Yield for the user","example":"0.2"}]},"avgBoostedApy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Average Boosted Annual Percentage Yield for the user","example":"0.2"}]},"avgMaxApy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Average Max Annual Percentage Yield for the user","example":"0.2"}]},"rewardMint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Mint address of the reward token"}]},"lastCalculated":{"type":"string","format":"date","description":"Timestamp of the last calculation"},"tokensEarned":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total number of reward tokens earned by the user"}]},"tokensPerSecond":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Number of reward tokens distributed per second to the user"}]},"stakingBoost":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Staking boost percentage applied to the user"}]},"effectiveStakingBoost":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Effective staking boost percentage for the user"}]},"baseApy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Base Annual Percentage Yield from rewards for the user","example":"0.2"}]},"boostedApy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Boosted Annual Percentage Yield from rewards for the user","example":"0.2"}]},"maxApy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Max Annual Percentage Yield from rewards for the user","example":"0.2"}]},"usdAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total USD amount of rewards earned by the user without boost"}]},"usdAmountBoosted":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total USD amount of rewards earned by the user with boost applied"}]}},"required":["avgBaseApy","avgBoostedApy","avgMaxApy","rewardMint","lastCalculated","tokensEarned","tokensPerSecond","stakingBoost","effectiveStakingBoost","baseApy","boostedApy","maxApy","usdAmount","usdAmountBoosted"]},"KvaultUserRewardMetrics":{"type":"array","items":{"$ref":"#/components/schemas/KvaultUserRewardMetric"},"description":"List of kvault user reward metrics"},"KvaultRewardMetric":{"type":"object","properties":{"kvault":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Address of the kvault"}]},"rewardToken":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Mint address of the reward token"}]},"lastCalculated":{"type":"string","format":"date","description":"Timestamp of the last calculation"},"apy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Annual Percentage Yield from rewards in the kvault","example":"0.2"}]},"tokensPerSecond":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Number of reward tokens distributed per second"}]}},"required":["kvault","rewardToken","lastCalculated","apy","tokensPerSecond"]},"KvaultRewardMetrics":{"type":"array","items":{"$ref":"#/components/schemas/KvaultRewardMetric"},"description":"List of kvault reward metrics"},"StakingBoost":{"type":"object","properties":{"boost":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Boost multiplier value for the staking position in decimal format (multiply by 100 to get percentage %)"}]},"name":{"type":"string","description":"Staking boost source name","example":"staking_boost"},"farm":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Optional farm identifier associated with the boost"}]}},"required":["boost","name"]},"KlendUserRewardMetric":{"type":"object","properties":{"depositReserve":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"nullable":true,"description":"Deposit reserve public key, if applicable"}]},"borrowReserve":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"nullable":true,"description":"Borrow reserve public key, if applicable"}]},"market":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Market public key"}]},"rewardMint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Mint address of the reward token"}]},"lastCalculated":{"type":"string","format":"date","description":"Timestamp of the last calculation"},"tokensEarned":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total number of reward tokens earned by the user"}]},"tokensPerSecond":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Number of reward tokens distributed per second to the user"}]},"stakingBoost":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Staking boost percentage applied to the user"}]},"effectiveStakingBoost":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Effective staking boost percentage for the user"}]},"baseApy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Base Annual Percentage Yield from rewards for the user","example":"0.2"}]},"boostedApy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Boosted Annual Percentage Yield from rewards for the user","example":"0.2"}]},"maxApy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Max Annual Percentage Yield from rewards for the user","example":"0.2"}]},"usdAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total USD amount of rewards earned by the user without boost"}]},"usdAmountBoosted":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total USD amount of rewards earned by the user with boost applied"}]}},"required":["depositReserve","borrowReserve","market","rewardMint","lastCalculated","tokensEarned","tokensPerSecond","stakingBoost","effectiveStakingBoost","baseApy","boostedApy","maxApy","usdAmount","usdAmountBoosted"]},"KlendUserRewardMetrics":{"type":"object","properties":{"avgBaseApy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Weighted average Base Annual Percentage Yield for the user","example":"0.2"}]},"avgBoostedApy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Weighted average Boosted Annual Percentage Yield for the user","example":"0.2"}]},"avgMaxApy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Weighted average Max Annual Percentage Yield for the user","example":"0.2"}]},"rewards":{"type":"array","items":{"$ref":"#/components/schemas/KlendUserRewardMetric"},"description":"List of klend user reward metrics"}},"required":["avgBaseApy","avgBoostedApy","avgMaxApy","rewards"]},"KlendRewardMetric":{"type":"object","properties":{"depositReserve":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"nullable":true,"description":"Deposit reserve public key, if applicable"}]},"borrowReserve":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"nullable":true,"description":"Borrow reserve public key, if applicable"}]},"market":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Market public key"}]},"rewardToken":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Mint address of the reward token"}]},"lastCalculated":{"type":"string","format":"date-time","description":"Timestamp of the last calculation"},"apy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Annual Percentage Yield from rewards","example":"0.2"}]},"tokensPerSecond":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Number of reward tokens distributed per second"}]},"activePositionsUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total USD value of active positions receiving rewards"}]}},"required":["depositReserve","borrowReserve","market","rewardToken","lastCalculated","apy","tokensPerSecond","activePositionsUsd"]},"KlendRewardMetrics":{"type":"array","items":{"$ref":"#/components/schemas/KlendRewardMetric"},"description":"List of klend reward metrics"},"KlendRewardHistoryRow":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time","description":"Timestamp of the data point"},"depositReserve":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"nullable":true,"description":"Deposit reserve public key, if applicable"}]},"borrowReserve":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"nullable":true,"description":"Borrow reserve public key, if applicable"}]},"rewardToken":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Mint address of the reward token"}]},"rewardApy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Annual Percentage Yield from rewards at this point in time","example":"0.2"}]}},"required":["timestamp","depositReserve","borrowReserve","rewardToken","rewardApy"]},"KlendRewardHistory":{"type":"array","items":{"$ref":"#/components/schemas/KlendRewardHistoryRow"},"description":"List of historical klend reward metrics"},"LoanDepositInfo":{"type":"object","properties":{"tokenMint":{"type":"string","description":"The token mint address","example":"So11111111111111111111111111111111111111112"},"tokenName":{"type":"string","description":"The token name/symbol from the reserve","example":"SOL"},"tokenAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Token amount in decimal format (not lamports)","example":"0.0100002082771212"}]},"tokenValue":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"USD value (tokenAmount × tokenPrice)","example":"1.80421579010444"}]},"maxLtv":{"type":"number","description":"Maximum loan-to-value ratio for this collateral reserve","example":0.74},"liquidationLtv":{"type":"number","description":"Liquidation threshold LTV for this collateral reserve","example":0.75},"maxWithdrawableAmount":{"type":"number","description":"Maximum token amount (decimals) that can be withdrawn while currentLtv <= maxLtv","example":51225.5590659256},"maxWithdrawableValue":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Maximum USD value that can be withdrawn while currentLtv <= maxLtv","example":"9242003.76257327"}]},"tokenPrice":{"type":"number","description":"Latest price from the oracle","example":180.41782132}},"required":["tokenMint","tokenName","tokenAmount","tokenValue","maxLtv","liquidationLtv","maxWithdrawableAmount","maxWithdrawableValue","tokenPrice"]},"LoanBorrowInfo":{"type":"object","properties":{"tokenMint":{"type":"string","description":"The token mint address","example":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"},"tokenName":{"type":"string","description":"The token name/symbol","example":"USDC"},"tokenAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Token amount in decimal format","example":"0.100002775657846"}]},"tokenValue":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"USD value (tokenAmount × tokenPrice)","example":"0.0999921413626825"}]},"maxBorrowableAmount":{"type":"number","description":"Maximum amount that can be borrowed while currentLtv <= maxLtv","example":1.30084031718889},"maxBorrowableValue":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Maximum USD value that can be borrowed while currentLtv <= maxLtv","example":"1.30070198582957"}]},"tokenPrice":{"type":"number","description":"Latest price from the oracle","example":0.99989366},"borrowFactor":{"type":"number","description":"Extra weight given to debt token in LTV calculation (debt value is multiplied by this factor))","example":1}},"required":["tokenMint","tokenName","tokenAmount","tokenValue","maxBorrowableAmount","maxBorrowableValue","tokenPrice","borrowFactor"]},"LoanInfo":{"type":"object","properties":{"loanId":{"type":"string","description":"The loan (obligation) public key","example":"wGzt1J5Nr182HHqAc1zsfD9SLoe1MJb25VWih5NRY"},"marketId":{"type":"string","description":"The market public key","example":"6HT16972HHiY4RM33GfUc22pHZ3VLDPpXFWhQ7XJzA"},"user":{"type":"string","description":"The loan owner public key","example":"7yexZcPbepXgWw3Cxc7YB2eLaxwyuyshRbAF8XHDi2g"},"timestamp":{"type":"number","description":"UTC timestamp when this report was produced","example":1760707165421},"solanaSlot":{"type":"number","description":"Solana slot when this report was produced","example":373973788},"elevationGroup":{"type":"number","description":"The elevation group assigned to this obligation for isolation of risks","example":0},"leverage":{"type":"number","description":"Current leverage ratio of the position","example":"0.5"},"loanInfo":{"type":"object","properties":{"collateral":{"type":"object","properties":{"deposits":{"type":"array","items":{"$ref":"#/components/schemas/LoanDepositInfo"},"description":"Array of collateral deposits"}},"required":["deposits"]},"debt":{"type":"object","properties":{"borrows":{"type":"array","items":{"$ref":"#/components/schemas/LoanBorrowInfo"},"description":"Array of debt borrows"}},"required":["borrows"]},"currentLtv":{"type":"number","description":"Current loan-to-value ratio (debt value × borrow factor / collateral value); liquidate when >= liquidationLtv","example":0.0554213869045533},"maxLtv":{"type":"number","description":"weighted average max LTV from all the collateral reserves (risks actions borrows or withdrawals are blocked when userLtv >= maxLtv)","example":0.74},"liquidationLtv":{"type":"number","description":"LTV threshold when liquidation occurs","example":0.75},"closeFactor":{"type":"number","description":"Maximum percentage of total debt that can be repaid in a single liquidation","example":0.1}},"required":["collateral","debt","currentLtv","maxLtv","liquidationLtv","closeFactor"]}},"required":["loanId","marketId","user","timestamp","solanaSlot","elevationGroup","leverage","loanInfo"]},"PrivateCreditAggregateMetrics":{"type":"object","properties":{"activeLoans":{"$ref":"#/components/schemas/Decimal"},"totalBorrowedUsd":{"$ref":"#/components/schemas/Decimal"},"totalDepositedUsd":{"$ref":"#/components/schemas/Decimal"},"weightedAvgLtv":{"$ref":"#/components/schemas/Decimal"},"avgLtv":{"$ref":"#/components/schemas/Decimal"},"maxLtv":{"$ref":"#/components/schemas/Decimal"},"updatedOn":{"allOf":[{"$ref":"#/components/schemas/SnapshotDateTime"},{"description":"Timestamp when the snapshot was created (ISO 8601 format)","example":"2025-03-01T12:00:00.000Z"}]}},"required":["activeLoans","totalBorrowedUsd","totalDepositedUsd","weightedAvgLtv","avgLtv","maxLtv","updatedOn"]},"PrivateCreditLoan":{"type":"object","properties":{"totalBorrowedUsd":{"$ref":"#/components/schemas/Decimal"},"totalDepositedUsd":{"$ref":"#/components/schemas/Decimal"},"ltv":{"$ref":"#/components/schemas/Decimal"},"createdOn":{"allOf":[{"$ref":"#/components/schemas/SnapshotDateTime"},{"description":"Timestamp when the snapshot was created (ISO 8601 format)","example":"2025-03-01T12:00:00.000Z"}]},"collateralAsset":{"type":"string"},"maxLtv":{"$ref":"#/components/schemas/Decimal"},"liquidationStatus":{"type":"string"}},"required":["totalBorrowedUsd","totalDepositedUsd","ltv","createdOn","collateralAsset","maxLtv","liquidationStatus"]},"PrivateCreditMetricsResponse":{"type":"object","properties":{"metrics":{"$ref":"#/components/schemas/PrivateCreditAggregateMetrics"},"loans":{"type":"array","items":{"$ref":"#/components/schemas/PrivateCreditLoan"}}},"required":["metrics","loans"]},"PrivateCreditStatusDistribution":{"type":"object","properties":{"status":{"type":"string"},"share":{"$ref":"#/components/schemas/Decimal"}},"required":["status","share"]},"PrivateCreditHistoryPoint":{"type":"object","properties":{"createdOn":{"allOf":[{"$ref":"#/components/schemas/SnapshotDateTime"},{"description":"Timestamp when the snapshot was created (ISO 8601 format)","example":"2025-03-01T12:00:00.000Z"}]},"weightedAvgLtv":{"$ref":"#/components/schemas/Decimal"},"maxLtv":{"$ref":"#/components/schemas/Decimal"},"statusDistribution":{"type":"array","items":{"$ref":"#/components/schemas/PrivateCreditStatusDistribution"}}},"required":["createdOn","weightedAvgLtv","maxLtv","statusDistribution"]},"PrivateCreditHistoryResponse":{"type":"array","items":{"$ref":"#/components/schemas/PrivateCreditHistoryPoint"}},"SeasonUserReward":{"type":"object","properties":{"wallet":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Wallet address of the user"}]},"totalRewards":{"type":"object","properties":{"amount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total reward amount"}]},"tokenMint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Token mint address of the reward"}]}},"required":["amount","tokenMint"],"description":"Total combined season rewards from both KLend and KVault"}},"required":["wallet","totalRewards"]},"SeasonFinalVestingPoolAllocation":{"type":"object","properties":{"totalForfeitedRewards":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total amount of forfeited rewards from all users who claimed early"}]}},"required":["totalForfeitedRewards"]},"UnixTimestamp":{"type":"string","description":"Epoch Unix timestamp in seconds","example":"1763568282","examples":["0","1","100","-1"]},"OraclePriceItem":{"type":"object","properties":{"price":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Price value of the asset"}]},"mint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Valid base58-encoded address of the token mint","example":"So11111111111111111111111111111111111111112","examples":["So11111111111111111111111111111111111111112","EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263"]}]},"maxAgeInSeconds":{"allOf":[{"$ref":"#/components/schemas/Integer"},{"description":"Maximum allowed age of the price feed in seconds","example":"120"}]},"timestamp":{"$ref":"#/components/schemas/UnixTimestamp"},"name":{"type":"string","description":"Name of the token","example":"SOL"}},"required":["price","mint","maxAgeInSeconds","timestamp","name"]},"OraclePrices":{"type":"array","items":{"$ref":"#/components/schemas/OraclePriceItem"},"description":"List of oracle prices for assets in the market"},"OracleMarketPrices":{"allOf":[{"$ref":"#/components/schemas/MarketConfigResponseV2"},{"type":"object","properties":{"prices":{"type":"array","items":{"$ref":"#/components/schemas/OraclePriceItem"},"description":"Oracle prices for assets in this market"}},"required":["prices"]}]},"FarmsInstruction":{"type":"object","properties":{"createdOn":{"type":"string","format":"date","description":"Date when the instruction was created"},"transactionSignature":{"type":"string","description":"Transaction signature","example":"2XWcSQVtR4NoHBhzYpDkYkmYtEFkFXC5ZwrKiPok1kvA86GvnN15qP7RNP6eTeNWgJqgnR1GA2M3QPp1hucW7e1v"},"instruction":{"type":"string","description":"Instruction display name","example":"claim"},"tokenAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Amount of tokens involved"}]},"usdAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"USD value of the transaction"}]},"farm":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Farm public key"}]},"token":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Token mint public key"}]}},"required":["createdOn","transactionSignature","instruction","tokenAmount","usdAmount","farm","token"]},"FarmTransaction":{"type":"object","properties":{"createdOn":{"type":"string","format":"date","description":"Date when the instruction was created"},"transactionSignature":{"type":"string","description":"Transaction signature","example":"2XWcSQVtR4NoHBhzYpDkYkmYtEFkFXC5ZwrKiPok1kvA86GvnN15qP7RNP6eTeNWgJqgnR1GA2M3QPp1hucW7e1v"},"instruction":{"type":"string","description":"Instruction display name","example":"deposit"},"tokenAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Amount of tokens involved"}]},"usdAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"USD value of the transaction"}]}},"required":["createdOn","transactionSignature","instruction","tokenAmount","usdAmount"]},"FarmManagementInstruction":{"type":"object","properties":{"createdOn":{"type":"string","format":"date"},"transactionSignature":{"type":"string","description":"Transaction signature","example":"2XWcSQVtR4NoHBhzYpDkYkmYtEFkFXC5ZwrKiPok1kvA86GvnN15qP7RNP6eTeNWgJqgnR1GA2M3QPp1hucW7e1v"},"instruction":{"type":"string"},"farm":{"$ref":"#/components/schemas/AddressBase58"},"signer":{"$ref":"#/components/schemas/AddressBase58"},"tokenAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"nullable":true}]},"usdAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"nullable":true}]},"token":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"nullable":true}]},"rewardIndex":{"type":"number","nullable":true},"configMode":{"type":"string","nullable":true},"details":{"type":"object","nullable":true,"additionalProperties":{"nullable":true}}},"required":["createdOn","transactionSignature","instruction","farm","signer","tokenAmount","usdAmount","token","rewardIndex","configMode","details"]},"BenchmarkRate":{"type":"object","properties":{"index":{"type":"integer","description":"Index of the data point"},"hour":{"type":"string","description":"Timestamp of the data point"},"tracked_supply":{"type":"number","description":"Total tracked USD supply"},"avg_rate":{"type":"number","description":"Average lending rate"},"elements":{"type":"integer","description":"Number of data elements"},"included_protocols":{"type":"integer","description":"Number of protocols included"}},"required":["index","hour","tracked_supply","avg_rate","elements","included_protocols"]},"BenchmarkRatesResponse":{"type":"array","items":{"$ref":"#/components/schemas/BenchmarkRate"}},"PortfolioSectionError":{"type":"object","properties":{"code":{"type":"string","description":"Stable subcomponent error code"}},"required":["code"]},"PortfolioSectionState":{"type":"object","properties":{"indexed":{"type":"boolean","description":"Whether this section has been indexed for the wallet."},"positionsRefreshedOn":{"type":"string","nullable":true,"format":"date-time","description":"Position freshness for this section."},"pricesRefreshedOn":{"type":"string","nullable":true,"format":"date-time","description":"Oldest required price freshness for this section."},"errors":{"type":"array","items":{"$ref":"#/components/schemas/PortfolioSectionError"},"default":[]}},"required":["indexed","positionsRefreshedOn","pricesRefreshedOn"]},"PortfolioSections":{"type":"object","properties":{"lending":{"$ref":"#/components/schemas/PortfolioSectionState"},"multiply":{"$ref":"#/components/schemas/PortfolioSectionState"},"leverage":{"$ref":"#/components/schemas/PortfolioSectionState"},"liquidity":{"$ref":"#/components/schemas/PortfolioSectionState"},"earn":{"$ref":"#/components/schemas/PortfolioSectionState"},"privateCredit":{"$ref":"#/components/schemas/PortfolioSectionState"},"staking":{"$ref":"#/components/schemas/PortfolioSectionState"}},"required":["lending","multiply","leverage","liquidity","earn","privateCredit","staking"],"description":"Per-section indexing and freshness metadata."},"PortfolioLendingDeposit":{"type":"object","properties":{"mint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Token mint address"}]},"symbol":{"type":"string","description":"Best-effort token symbol from known SQL-backed mint metadata, or UNKNOWN when unavailable","example":"SOL"},"amount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Token amount"}]},"value":{"type":"string","nullable":true,"example":"1234.56789","description":"Current USD value for this token row"},"price":{"type":"string","nullable":true,"example":"1234.56789","description":"Current token price in USD"},"reserve":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Resolved KLend reserve address backing this token row"}]},"maxLtv":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Maximum loan-to-value ratio for the reserve as a fraction, adjusted for the obligation's elevation group"}]},"liquidationLtv":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Liquidation loan-to-value threshold for the reserve as a fraction, adjusted for the obligation's elevation group"}]}},"required":["mint","symbol","amount","value","price","maxLtv","liquidationLtv"]},"PortfolioLendingBorrow":{"type":"object","properties":{"mint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Token mint address"}]},"symbol":{"type":"string","description":"Best-effort token symbol from known SQL-backed mint metadata, or UNKNOWN when unavailable","example":"SOL"},"amount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Token amount"}]},"value":{"type":"string","nullable":true,"example":"1234.56789","description":"Current USD value for this token row"},"price":{"type":"string","nullable":true,"example":"1234.56789","description":"Current token price in USD"},"reserve":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Resolved KLend reserve address backing this token row"}]},"borrowFactor":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Borrow factor for the reserve as a fraction (e.g. 1.25); 1 when an elevation group is active"}]}},"required":["mint","symbol","amount","value","price","borrowFactor"]},"PortfolioLendingPosition":{"type":"object","properties":{"obligation":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Obligation address"}]},"market":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Lending market address"}]},"tag":{"type":"string","enum":["Vanilla","Lending","LendingFixedRate","Multiply","MultiplyFixedRate","Leverage","LeverageFixedRate"],"description":"Obligation type tag","example":"Lending"},"netValue":{"type":"string","nullable":true,"example":"1234.56789","description":"Net account value in USD from refreshed obligation stats"},"totalDepositValue":{"type":"string","nullable":true,"example":"1234.56789","description":"Total deposit value in USD from refreshed obligation stats"},"totalBorrowValue":{"type":"string","nullable":true,"example":"1234.56789","description":"Total borrow value in USD from refreshed obligation stats"},"ltv":{"type":"string","nullable":true,"example":"1234.56789","description":"Current loan-to-value ratio from refreshed obligation stats"},"maxLtv":{"type":"string","nullable":true,"example":"1234.56789","description":"Maximum loan-to-value ratio for the whole obligation from refreshed stats"},"liquidationLtv":{"type":"string","nullable":true,"example":"1234.56789","description":"Liquidation LTV threshold from refreshed obligation stats"},"leverage":{"type":"string","nullable":true,"example":"1234.56789","description":"Current leverage from refreshed obligation stats"},"deposits":{"type":"array","items":{"$ref":"#/components/schemas/PortfolioLendingDeposit"}},"borrows":{"type":"array","items":{"$ref":"#/components/schemas/PortfolioLendingBorrow"}}},"required":["obligation","market","tag","netValue","totalDepositValue","totalBorrowValue","ltv","maxLtv","liquidationLtv","leverage","deposits","borrows"]},"PortfolioMultiplyPosition":{"type":"object","properties":{"obligation":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Obligation address"}]},"market":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Lending market address"}]},"tag":{"type":"string","enum":["Vanilla","Lending","LendingFixedRate","Multiply","MultiplyFixedRate","Leverage","LeverageFixedRate"],"description":"Obligation type tag","example":"Lending"},"netValue":{"type":"string","nullable":true,"example":"1234.56789","description":"Net account value in USD from refreshed obligation stats"},"totalDepositValue":{"type":"string","nullable":true,"example":"1234.56789","description":"Total deposit value in USD from refreshed obligation stats"},"totalBorrowValue":{"type":"string","nullable":true,"example":"1234.56789","description":"Total borrow value in USD from refreshed obligation stats"},"ltv":{"type":"string","nullable":true,"example":"1234.56789","description":"Current loan-to-value ratio from refreshed obligation stats"},"maxLtv":{"type":"string","nullable":true,"example":"1234.56789","description":"Maximum loan-to-value ratio for the whole obligation from refreshed stats"},"liquidationLtv":{"type":"string","nullable":true,"example":"1234.56789","description":"Liquidation LTV threshold from refreshed obligation stats"},"leverage":{"type":"string","nullable":true,"example":"1234.56789","description":"Current leverage from refreshed obligation stats"},"deposits":{"type":"array","items":{"$ref":"#/components/schemas/PortfolioLendingDeposit"}},"borrows":{"type":"array","items":{"$ref":"#/components/schemas/PortfolioLendingBorrow"}},"depositMint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Primary deposit token mint used for this multiply position"}]},"borrowMint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Primary borrow token mint used for this multiply position"}]}},"required":["obligation","market","tag","netValue","totalDepositValue","totalBorrowValue","ltv","maxLtv","liquidationLtv","leverage","deposits","borrows"]},"PortfolioLeveragePosition":{"type":"object","properties":{"obligation":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Obligation address"}]},"market":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Lending market address"}]},"tag":{"type":"string","enum":["Vanilla","Lending","LendingFixedRate","Multiply","MultiplyFixedRate","Leverage","LeverageFixedRate"],"description":"Obligation type tag","example":"Lending"},"netValue":{"type":"string","nullable":true,"example":"1234.56789","description":"Net account value in USD from refreshed obligation stats"},"totalDepositValue":{"type":"string","nullable":true,"example":"1234.56789","description":"Total deposit value in USD from refreshed obligation stats"},"totalBorrowValue":{"type":"string","nullable":true,"example":"1234.56789","description":"Total borrow value in USD from refreshed obligation stats"},"ltv":{"type":"string","nullable":true,"example":"1234.56789","description":"Current loan-to-value ratio from refreshed obligation stats"},"maxLtv":{"type":"string","nullable":true,"example":"1234.56789","description":"Maximum loan-to-value ratio for the whole obligation from refreshed stats"},"liquidationLtv":{"type":"string","nullable":true,"example":"1234.56789","description":"Liquidation LTV threshold from refreshed obligation stats"},"leverage":{"type":"string","nullable":true,"example":"1234.56789","description":"Current leverage from refreshed obligation stats"},"deposits":{"type":"array","items":{"$ref":"#/components/schemas/PortfolioLendingDeposit"}},"borrows":{"type":"array","items":{"$ref":"#/components/schemas/PortfolioLendingBorrow"}},"depositMint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Primary deposit token mint used for this leverage position"}]},"borrowMint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Primary borrow token mint used for this leverage position"}]}},"required":["obligation","market","tag","netValue","totalDepositValue","totalBorrowValue","ltv","maxLtv","liquidationLtv","leverage","deposits","borrows"]},"PortfolioPositionToken":{"type":"object","properties":{"mint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Token mint address"}]},"symbol":{"type":"string","description":"Best-effort token symbol from known SQL-backed mint metadata, or UNKNOWN when unavailable","example":"SOL"},"amount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Token amount"}]},"value":{"type":"string","nullable":true,"example":"1234.56789","description":"Current USD value for this token row"},"price":{"type":"string","nullable":true,"example":"1234.56789","description":"Current token price in USD"},"reserve":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Resolved KLend reserve address backing this token row"}]}},"required":["mint","symbol","amount","value","price"]},"PortfolioLiquidityPosition":{"type":"object","properties":{"strategy":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Strategy address"}]},"shareMint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Strategy share mint address"}]},"shares":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total strategy shares held directly or staked in farms"}]},"netValue":{"type":"string","nullable":true,"example":"1234.56789","description":"Current net position value in USD"},"tokenA":{"$ref":"#/components/schemas/PortfolioPositionToken"},"tokenB":{"$ref":"#/components/schemas/PortfolioPositionToken"}},"required":["strategy","shareMint","shares","netValue","tokenA","tokenB"]},"PortfolioEarnPosition":{"type":"object","properties":{"vault":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Vault address"}]},"tokenMint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Vault underlying token mint"}]},"symbol":{"type":"string","description":"Vault underlying token symbol","example":"USDC"},"name":{"type":"string","description":"Vault display name from resources or decoded vault state","example":"JitoSOL"},"netValue":{"type":"string","nullable":true,"example":"1234.56789","description":"Current position value in USD"},"shares":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Number of shares held"}]},"amount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Underlying token amount for the position"}]}},"required":["vault","tokenMint","symbol","name","netValue","shares","amount"]},"PortfolioPrivateCreditPosition":{"type":"object","properties":{"vault":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Vault address"}]},"tokenMint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Vault underlying token mint"}]},"symbol":{"type":"string","description":"Vault underlying token symbol","example":"USDC"},"name":{"type":"string","description":"Vault name","example":"Maple USDC"},"netValue":{"type":"string","nullable":true,"example":"1234.56789","description":"Current position value in USD"},"shares":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Number of shares held"}]},"amount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Underlying token amount for the position"}]}},"required":["vault","tokenMint","symbol","name","netValue","shares","amount"]},"PortfolioStakingPosition":{"type":"object","properties":{"mint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Staked token mint address"}]},"symbol":{"type":"string","description":"Staked token symbol","example":"KMNO"},"farm":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Farm address where the staking position is held"}]},"amount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Amount of KMNO staked"}]},"value":{"type":"string","nullable":true,"example":"1234.56789","description":"Current USD value of staked KMNO"},"price":{"type":"string","nullable":true,"example":"1234.56789","description":"Current staked token price in USD"}},"required":["mint","symbol","farm","amount","value","price"]},"PortfolioResponse":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time","description":"Response timestamp as an ISO-8601 string"},"sections":{"$ref":"#/components/schemas/PortfolioSections"},"lending":{"type":"array","items":{"$ref":"#/components/schemas/PortfolioLendingPosition"}},"multiply":{"type":"array","items":{"$ref":"#/components/schemas/PortfolioMultiplyPosition"}},"leverage":{"type":"array","items":{"$ref":"#/components/schemas/PortfolioLeveragePosition"}},"liquidity":{"type":"array","items":{"$ref":"#/components/schemas/PortfolioLiquidityPosition"}},"earn":{"type":"array","items":{"$ref":"#/components/schemas/PortfolioEarnPosition"}},"privateCredit":{"type":"array","items":{"$ref":"#/components/schemas/PortfolioPrivateCreditPosition"}},"staking":{"type":"array","items":{"$ref":"#/components/schemas/PortfolioStakingPosition"}}},"required":["timestamp","sections","lending","multiply","leverage","liquidity","earn","privateCredit","staking"]},"PortfolioRewardToken":{"type":"object","properties":{"mint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Reward token mint"}]},"amount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Pending reward amount"}]},"index":{"type":"integer","description":"Reward info index on the farm state used for claim instructions","example":0},"type":{"type":"integer","description":"Farm reward type index used by farm rewards accounting","example":0},"tokenProgram":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Token program ID for the reward token"}]}},"required":["mint","amount","index","type","tokenProgram"]},"PortfolioFarmReward":{"type":"object","properties":{"farm":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Farm address"}]},"userState":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"User state address used for claiming"}]},"delegatee":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Delegatee recorded on the user farm state, used to build claim instructions"}]},"strategy":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Liquidity strategy associated with the farm, when applicable"}]},"vault":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"KVault associated with the farm, when applicable"}]},"positionType":{"type":"string","enum":["Liquidity","Lend","Borrow Markets","Multiply","Leverage"],"description":"Farm position type","example":"Lend"},"activeStakeAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Active stake amount in farm"}]},"tokenMints":{"type":"array","items":{"$ref":"#/components/schemas/AddressBase58"},"default":[],"description":"Token mints identifying the position (e.g. tokenA+tokenB for liquidity)"},"rewards":{"type":"array","items":{"$ref":"#/components/schemas/PortfolioRewardToken"}}},"required":["farm","userState","delegatee","positionType","activeStakeAmount","rewards"],"description":"Farm reward row; at most one of strategy or vault is present."},"PortfolioRewardsPartialErrors":{"type":"object","properties":{"positionTokenMints":{"type":"array","items":{"type":"string"},"description":"Strategy or vault identifiers whose token mint enrichment could not be resolved"},"seasonFarms":{"type":"array","items":{"type":"string"},"description":"Season farm filter subcomponents that could not be loaded"},"rewardMetadata":{"type":"array","items":{"type":"string"},"description":"Farm reward rows whose SQL metadata was incomplete and could not be returned"}}},"PortfolioRewardsResponse":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time","description":"Response timestamp as an ISO-8601 string"},"farms":{"type":"array","items":{"$ref":"#/components/schemas/PortfolioFarmReward"}},"partialErrors":{"$ref":"#/components/schemas/PortfolioRewardsPartialErrors"}},"required":["timestamp","farms"]}},"parameters":{}},"paths":{"/kamino-market/{pubkey}/metrics/history":{"get":{"summary":"Get KLend Market metrics history","description":"Get historical metrics (TVL and number of obligations) for a Kamino Lending market over a specified time range.","tags":["Kamino Lend Markets"],"parameters":[{"schema":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Market public key","example":"7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF"}]},"required":true,"description":"Market public key","name":"pubkey","in":"path"},{"schema":{"type":"string","enum":["mainnet-beta","devnet","localnet"],"default":"mainnet-beta","description":"Solana cluster environment","example":"mainnet-beta"},"required":false,"description":"Solana cluster environment","name":"env","in":"query"},{"schema":{"anyOf":[{"type":"string"},{"type":"number"}],"default":"1970-01-01T00:00:00.000Z","description":"Date input (ISO 8601 string or epoch in ms)","examples":["2024-01-01T00:00:00.000Z",1704067200000],"example":"2020-01-01T00:00Z"},"required":false,"description":"Date input (ISO 8601 string or epoch in ms)","name":"start","in":"query"},{"schema":{"anyOf":[{"type":"string"},{"type":"number"}],"description":"Date input (ISO 8601 string or epoch in ms)","examples":["2024-01-01T00:00:00.000Z",1704067200000],"example":"2020-02-01T00:00Z"},"required":false,"description":"Date input (ISO 8601 string or epoch in ms)","name":"end","in":"query"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MarketMetricsResponse"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/kamino-market/{marketPubkey}/reserves/{reservePubkey}/metrics/history":{"get":{"summary":"Get KLend reserve history","description":"Get historical metrics for a specific reserve in a Kamino Lending market over a specified time range with configurable frequency (minute, hour, or day).","tags":["Kamino Lend Markets"],"parameters":[{"schema":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Kamino Lend market public key","example":"7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF"}]},"required":true,"description":"Kamino Lend market public key","name":"marketPubkey","in":"path"},{"schema":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Kamino Lend reserve public key","example":"FBSyPnxtHKLBZ4UeeUyAnbtFuAmTHLtso9YtsqRDRWpM"}]},"required":true,"description":"Kamino Lend reserve public key","name":"reservePubkey","in":"path"},{"schema":{"type":"string","enum":["mainnet-beta","devnet","localnet"],"default":"mainnet-beta","description":"Solana cluster environment","example":"mainnet-beta"},"required":false,"description":"Solana cluster environment","name":"env","in":"query"},{"schema":{"anyOf":[{"type":"string"},{"type":"number"}],"default":"1970-01-01T00:00:00.000Z","description":"Date input (ISO 8601 string or epoch in ms)","examples":["2024-01-01T00:00:00.000Z",1704067200000],"example":"2020-01-01T00:00Z"},"required":false,"description":"Date input (ISO 8601 string or epoch in ms)","name":"start","in":"query"},{"schema":{"anyOf":[{"type":"string"},{"type":"number"}],"description":"Date input (ISO 8601 string or epoch in ms)","examples":["2024-01-01T00:00:00.000Z",1704067200000],"example":"2020-02-01T00:00Z"},"required":false,"description":"Date input (ISO 8601 string or epoch in ms)","name":"end","in":"query"},{"schema":{"type":"string","enum":["hour","day"],"default":"hour","description":"Frequency of the snapshots","example":"hour"},"required":false,"description":"Frequency of the snapshots","name":"frequency","in":"query"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"nullable":true}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/kamino-market/{market
[...]
